<!DOCTYPE html>
<html lang="en">
    <head>
        {% assign title = "The Lab &mdash; Prova Lab" %}
        {% include "partials/_head.liquid" %}
    </head>
    <!-- hidden while correctly positioning parallax elements -->
    <body class="page-template page-template-templates page-template-template-page-featured-image-left page-template-templatestemplate-page-featured-image-left-php page page-id-145" style="visibility: hidden;">
        {% include "partials/_small-header.liquid" %}
        {% include "partials/_sticky-navbar.liquid" %}
        <div class="feature-image-side">
            <div class="content-wrapper left-side">
                <div class="content">
                    <img class="featured-image float-left" src="/assets/lab-scaled.jpg" />
                    <h1 class="section-title page-title">The Lab</h1>

                    <p>Prova Lab wants to change the way nonprofit organizations (and their funders) think about innovation. We believe it is possible to move beyond the status quo by training nonprofit leaders how to operationalize innovation through education and support.</p>

                    <p>To that end, Prova Lab is building a new immersive research lab for nonprofit organizations to pilot project or program initiatives. This is an opportunity to test new ideas, increase efficacy and build internal capacity through:</p>

                    <ul>
                        <li>Structured educational courses that provide a foundation for the process and methods used in action research, strategy, piloting and assessment,</li>
                        <li>Peer learning in a cohort-based program,</li>
                        <li>Hands-on learning through pilot research with tailored support from specialists. This includes how to measure, demonstrate and implement successful results, and how to learn from challenges.&nbsp;</li>
                    </ul>

                    <p>
                        <a
                            href="https://mailchi.mp/2bde85b36451/the-lab-waitlist"
                            target="_blank"
                            rel="noopener">
                            Register your interest in participating using this form
                        </a>
                    </p>

                    <p>Questions? Or if you are interested in becoming a Lab sponsor or partner,
                        <a href="/#contact">please contact us</a>.</p>
                    <div class="events-spacer"></div>
                </div>
            </div>
        </div>
        {% include "partials/_footer.liquid" %}
    </body>
</html>