<!DOCTYPE html>
<html lang="en">
    <head>
        {% assign title = "Prova Lab Social Innovation" %}
        {% assign description = "Social Innovation should be accessible. We encourage and support innovation in the social purpose sector by creating opportunities to collaborate, learn, and test." %}
        {% assign url = "/" %}
        {% include "partials/_head.liquid" %}
    </head>
    <!-- hidden while correctly positioning parallax elements -->
    <body class="home page-template-default page page-id-2" style="visibility: hidden;">
        <section id="top" class="parallax">
            <div id="top-section-content">
                <div id="content-wrapper">
                    <img id="landing-logo" src="/assets/prova-lab-logo-white.png" />
                    <div
                        id="block-quote"
                        class="hidden"
                        style="color: #fff;">
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
        </section>
        {% include "partials/_sticky-navbar.liquid" %}
        <main id="landing">
            <div class="parallax-left columns">
                <div class="parallax" style="background-image: url('assets/gears.jpg');"></div>
                <div class="content">
                    <h1 class="section-title">What We Do</h1>

                    <div class="legacy-message">
                        <p>
                            <em>
                                Prova Lab came to a close in 2023. If you'd like to get in touch about Prova Lab's work,
                                Social Innovation or Social Impact, contact Kathryn Baer on
                                <a href="https://www.linkedin.com/in/kathryn-a-baer/" target="_blank" rel="noopener">LinkedIn</a>.
                            </em>
                        </p>
                        <p>
                            <em>
                                If you'd like to get in contact about the website, please contact Alec Fernandes at
                                <a href="mailto:al@fern.haus">al@fern.haus</a>.
                            </em>
                        </p>
                    </div>

                    <h2 class="wp-block-heading">
                        <a href="/events/">Events</a>
                    </h2>

                    <p>We create and host events that showcase innovation, provide learning opportunities, and facilitate new connections.</p>

                    <h2 class="wp-block-heading">
                        <a href="/education/">Education</a>
                    </h2>

                    <p>We specialize in foundational courses aimed at demystifying the concepts of social innovation and social impact. Through our fun, interactive classes, we provide the tools, tactics and resources to help professionals operationalize and apply these concepts to their work.</p>

                    <h2 class="wp-block-heading">
                        <a href="/the-lab/">The Lab</a>
                    </h2>

                    <p>We are building an immersive research lab for nonprofit organizations to pilot project or program initiatives. This is an opportunity for nonprofit organizations to increase their efficacy and build internal capacity through peer learning, structured educational courses and hands-on supported pilot research.</p>
                </div>
            </div>
            <div class="parallax-right columns">
                <div class="content">
                    <h1 class="section-title">Partnerships</h1>

                    <p class="has-text-align-left">Collaboration is key to enacting the structural shift we envision for&nbsp;social innovation. We’re a community of nonprofits, for-profits, entrepreneurs, researchers, and activists.&nbsp;We welcome partnerships across sectors for various&nbsp;programming and community initiatives.</p>

                    <a href="/#contact" class="custom-button">JOIN US</a>
                </div>
                <div class="parallax" style="background-image: url('/assets/bulbs.jpg');"></div>
            </div>
            {% assign is_preview = true %}
            {% include "partials/_about.liquid" %}
            {% include "partials/_contact.liquid" %}
        </main>
        {% include "partials/_footer.liquid" %}
    </body>
</html>