<!DOCTYPE html>
<html lang="en">
    <head>
        {% assign title = "About &mdash; Prova Lab" %}
        {% assign description = "Read all about our team." %}
        {% assign url = "/about" %}
        {% include "partials/_head.liquid" %}
    </head>
    <!-- hidden while correctly positioning parallax elements -->
    <body class="page-template page-template-templates page-template-template-page-parallax-full-width page-template-templatestemplate-page-parallax-full-width-php page page-id-32" style="visibility: hidden;">
        {% include "partials/_small-header.liquid" %}
        {% include "partials/_sticky-navbar.liquid" %}
        <div class="prova-page">
            {% include "partials/_about.liquid" %}
            <div class="page-more-content">
                <div class="content-wrapper">
                    <div class="content" style="text-align:center;">
                        <h2 class="has-text-align-center">ADVISORY COMMITTEE</h2>

                        <div
                            style="height:20px"
                            aria-hidden="true"
                            class="wp-block-spacer"></div>

                        <h3 class="has-text-align-center">
                            <strong>Christine Lim</strong>
                        </h3>

                        <p class="has-text-align-center">
                            <strong>Director of Business Development and Operations, Silicon Valley Community Foundation</strong>
                        </p>

                        <p class="has-text-align-center">Christine spearheads the Silicon Valley Community Foundation’s professional advisor engagement strategy, and builds relationships with existing and prospective donors. Previously, Christine worked in development at the East Bay Community Foundation, client services at RGP, and as VP of Financial Consulting &amp; Client Services at Charles Schwab. Christine has an MBA from Xavier University in Cincinnati, Ohio and a BS in Economics from Vanderbilt University in Nashville, Tennessee. Dedicated to helping underserved communities achieve their financial goals, she has served on the Board of the San Francisco Adoptee Mentor Program, volunteered as a Financial Coach at the San Francisco Homeless Prenatal Center Program, and participated in the San Francisco Aids Marathon Training Program. Her personal interests include soccer, playing tennis, picking up new hobbies and spending time with her loved ones.</p>

                        <div
                            style="height:20px"
                            aria-hidden="true"
                            class="wp-block-spacer"></div>

                        <h3 class="has-text-align-center">
                            <strong>Rick Roberts</strong>
                        </h3>

                        <p class="has-text-align-center">
                            <strong>Professor, University of San Francisco (USF)</strong>
                        </p>

                        <p class="has-text-align-center">Rick is an educator with 30+ years of experience in academic and professional contexts. Since 1993, he has served on the faculty at USF, where he has been recognized for his teaching. This includes receiving USF’s Outstanding Lecturer Award. In addition to his work with students, he has taught workshops and seminars offered by Instructional Technology Services and by the Center for Teaching Excellence to the University’s faculty. His academic training and areas of interest are in Communications, Performing Arts, Learning Theory, and Instructional Design. In addition to his courses, Rick conducts USF’s contemporary vocal ensembles and enjoys working with other musicians outside of the academy. Additionally, Rick is a member of
                            <a
                                href="https://www.safemedicines.org/about-us/psmboard"
                                target="_blank"
                                rel="noreferrer noopener">The Partnership for Safe Medicines&#8217; Advisory Board</a>.</p>

                        <div
                            style="height:20px"
                            aria-hidden="true"
                            class="wp-block-spacer"></div>

                        <h3 class="has-text-align-center">
                            <strong>Robyn Hoogendam</strong>
                        </h3>

                        <p class="has-text-align-center">
                            <strong>Research Coordinator,
                                <a
                                    href="https://endvaw.ca/"
                                    target="_blank"
                                    rel="noreferrer noopener">Women’s Shelters Canada</a>
                            </strong><br>
                            <strong>PhD Candidate, School of Public Policy and Administration at Carleton University</strong>
                        </p>

                        <p class="has-text-align-center">Robyn’s thesis is concerned with the implementation of accountability requirements within Canadian federal funding programs and the impact on nonprofit organizations. Prior to returning to school, Robyn worked at a mid-size Toronto community economic development organization, with a focus on childcare research, grant writing, and evaluation systems. She has served as a board member for a number of nonprofit organizations. She holds a Master of Gender and Social Policy from the London School of Economics and a Bachelor of Arts in Women&#8217;s Studies and Political Studies from Trent University. When not working, she can be found figure skating, running or hanging out with her wife and two cats.</p>

                        <div class="events-spacer"></div>
                    </div>
                </div>
            </div>
        </div>
        {% include "partials/_footer.liquid" %}
    </body>
</html>