<footer>
    <div>
        <p class="has-text-align-center" style="color:#fff;">
            Ⓒ 2022 Prova Lab, LLC
            <br/>Based in San Francisco, California
        </p>
    </div>
</footer>

<script src="/scripts/display.js"></script>