<div>
    <div class="menu-navigation-container">
        <ul id="menu-navigation" class="menu">
            <li id="menu-item-310" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310">
                <a href="/events/">Events</a>
            </li>
            <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-147 current_page_item menu-item-151">
                <a href="/education/" aria-current="page">Education</a>
            </li>
            <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150">
                <a href="/the-lab/">The Lab</a>
            </li>
            <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
                <a href="/about/">About Us</a>
            </li>
        </ul>
    </div>
</div>