<div id="sticky" class="navbar">
    {% include "partials/_navigation.liquid" %}
    {% include "partials/_mailchimp.liquid" %}
    <div id="scroll-down" class="shown">
        <p>▼</p>
    </div>
</div>