<!DOCTYPE html>
<html lang="en">
    <head>
        {% assign title = "Education &mdash; Prova Lab" %}
        {% assign description = "Prova Lab offers single-day intensive courses and one-hour workshops." %}
        {% assign url = "/education" %}
        {% include "partials/_head.liquid" %}
    </head>
    <!-- hidden while correctly positioning parallax elements -->
    <body class="page-template page-template-templates page-template-template-page-featured-image-right page-template-templatestemplate-page-featured-image-right-php page page-id-147" style="visibility: hidden;">
        {% include "partials/_small-header.liquid" %}
        {% include "partials/_sticky-navbar.liquid" %}
        <div class="feature-image-side">
            <div class="content-wrapper right-side">
                <div class="content">
                    <img class="featured-image float-right" src="/assets/education.jpg" />
                    <h1 class="section-title page-title">Education</h1>

                    <p>Prova Lab offers single-day intensive courses (our Bootcamps) and one-hour workshops on a range of impact- and innovation-related topics.</p>

                    <h2 class="wp-block-heading">
                        Bootcamps
                    </h2>

                    <p>We’ve created a unique instructional design that allows for a fun, interactive cohort environment. We specialize in foundational courses aimed at demystifying the concepts of social innovation and social impact. Bootcamps are conducted in one day. While the topics may vary, we offer participants the following experience across all courses:</p>

                    <ul>
                        <li>Built-in cross-silo learning. Participants include a wide variety of professionals undertaking social change; they may be based in nonprofit organizations, government, foundations, CSR &amp; social impact programs, or social enterprises.</li>
                        <li>Tools, tactics, resources (plus real-world examples) to help operationalize the abstract concepts of “innovation” and “impact”. We employ a variety of case studies, facilitated exercises, group discussions and break-out sessions.</li>
                        <li>Improved communication across sectors, including a shared understanding of commonly used terminology (breaking down buzzwords).</li>
                        <li>Tailored support. Space is limited to ensure that we are able to customize each bootcamp to program participants.</li>
                    </ul>

                    <span id="more-147"></span>

                    <h3 class="wp-block-heading">
                        <strong>How to participate</strong>
                    </h3>

                    <p>If you are interested in sponsoring Bootcamp courses or our scholarship spots,
                        <a href="/#contact" data-type="page">please contact us</a>.</p>

                    <p>If you are interested in group tickets (3+ participants from the same organization or company) or private instruction,
                        <a href="/#contact" data-type="page">please contact us</a>.</p>

                    <h2 class="wp-block-heading">
                        <strong>Workshops</strong>
                    </h2>

                    <p>We offer customized one-hour workshops on a number of social innovation and social impact topics. If you are interested in a workshop for your team, organization or clients,
                        <a href="/#contact" data-type="page">please contact us</a>.</p>
                    <div class="events-spacer"></div>

                    {% assign event_title = "Bootcamps" %}
                    {% assign description = false %}
                    {% assign events = bootcamps.events %}
                    {% include "partials/_event-listings.liquid" %}
                </div>
            </div>
        </div>
        {% include "partials/_footer.liquid" %}
        <script src="/scripts/events.js"></script>
    </body>
</html>